<a href="https://colab.research.google.com/github/festuge/function-pyth-2/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input('Enter name: ')
age = input('Enter age: ')
number = input('what is your favorite number: ')
has_a_pet = False
print(name)
print(age)
print(number)
print(has_a_pet)
print("name: " + str(name))

Enter name: claudi
Enter age: 33
what is your favorite number: 3
claudi
33
3
False
name: claudi

#functions
# def name_of_function(parameter1, paremeter2, ...):
#      function body here

In [ ]:
def square(number):
  print("Welcome to the square function")
  squared = number**2
  return number**2

In [ ]:
squared = square(5.5)
print(squared)

my_number = 6
print(square(my_number))

Welcome to the square function
30.25
Welcome to the square function
36

Exercise 1.
Write a function to cube a number. Call this function passing test values to it and print the result.

2. Write a function, say_hello which takes in a name variable and print out "Hello name". Say_hello("zach") should print "Hello zack". Call this function passing test values to it and print the result.

In [ ]:
def cube(number):
  print("welcome to cube function")
  cubed = number**3
  return cubed

In [ ]:
fat = cube(3)
print(fat)
kantas = 5
print(cube(kantas))

welcome to cube function
27
welcome to cube function
125

Exercise 2

In [ ]:
def say_hello(name):
  print('Hello', name)

In [ ]:
say_hello('Claudi')

Hello Claudi

function that adds two numbers

In [ ]:
def add(num1, num2):
  addition = num1+num2
  return addition

In [ ]:
mine = add(2, 3)
print(mine)

5

In [ ]:
def sub(num1, num2):
  subn = num1-num2
  return subn

In [ ]:
mine = sub(9, 3)
print(mine)

6

Lets calculate Joe's BMI (unit in meters and kgs)
BMI = weight/height**2

commenting as we see on this code below is called the Docstring documentation

In [ ]:
def calculate_bmi(height, weight):
  '''Calculates the BMI of an individual from their height and weight.'''
  BMI = weight / height**2
  return BMI

In [ ]:
calculate_bmi(1.86, 111)

32.08463406174124

In [ ]:
height = 1.4
weight = 80
calculate_bmi(height, weight)

40.81632653061225

In [ ]:
def two_times(num):
  print(2*num)

In [ ]:
two_times(34)

68

Converting mini project1 into a function

In [ ]:
#p = num1
#r = num2
#n = num3
def total_amount(num1, num2, num3):
  return num1*((1+num2)**(num3/12))

In [ ]:
#p = 10000
#r = 0.05
#n = 36
total_amount(10000, 0.05, 36)

11576.250000000002

Alternative way

In [ ]:
def calculate_amount_owed(p, r, n):
  power = n/12
  rate_sum = 1 + (r/100)
  raised = rate_sum ** power
  Total_amount = p * raised
  return Total_amount

In [ ]:
calculate_amount_owed(10000, 5, 36)

11576.250000000002

Let convert mini project 2 into a function
A = pi radius **2

In [ ]:
def area(pi, r):
  answer = pi * (r ** 2)
  return answer

In [ ]:
area(3.14, 5)

78.5

Assignment. Convert Assignment 1 and 2 into a function.

In [ ]:
# C = F - 32 * (5/9)
def celcius(f):
  answer = (f - 32) * 5/9
  return answer

In [ ]:
celcius(70)

21.11111111111111

Assignment 2

In [ ]:
# V=pir**2h
def volume(pi, r, h):
  answer = pi * (r ** 2) * h
  return answer

In [ ]:
volume(3.14, 2, 3)

37.68

Assignment 3: Making some updates to our banking system, write a function that will return the monthly payment for a loan amount amt, interest rate r, and loan duration in months n. The formula for calculating the monthly payment is:
Monthly payment = check on notes.... amt, r and n

In [1]:
#Mini project 1
# variables; P, r, n
# intermediate variables: answer
# auxilary variables: up_d, down_d, first_d
def monthly_payment(p, r, n):
  up_d = (1 + r/1200)**n
  down_d = ((1 + r/1200)**n) - 1
  first_d = r/1200
  answer = p * first_d * up_d/down_d
  return answer

In [2]:
P = 10000
r = 5/100
n = 36
monthly_payment(1000, 5/100, 36)

27.799195018987565

Assignment 4: In order for the bank to amotize loans, it has requested you write three new functions for interest repayment, total repayment and the principle repayment following these equations:

In [3]:
# interest repayment
# variables; P, r, n
# intermediate variables: answer
# auxilary variables: divisible
def interest_repayment(p, r, n):
  divisible = r/n
  answer = p * divisible
  return answer

In [4]:
interest_repayment(10000, 5/100, 36)

13.88888888888889

In [9]:
#total repayment
# variables; P, r, n, t
# intermediate variables: answer
# auxilary variables: up_d, down_d,
def total_repayment(p, r, n, t):
  up_d = r/n * (1 + r/n)**(t*n)
  down_d = ((1 + r/n)**(t*n)) -1
  answer = p * (up_d/down_d)
  return answer

In [10]:
P = 10000
r = 5/100
n = 36
t = 27.799195018987565
total_repayment(10000, 5/100, 36, 27.799195018987565)

18.50188293090942

In [15]:
#principal repayment
# variables; P, r, n, t
# intermediate variables: answer
# auxilary variables: up_d, down_d, minus
def principal_repayment(p, r, n, t):
  up_d = r/n * ((1 + r/n)**(t*n))
  down_d = ((1 + r/n)**(t*n)) - 1
  minus = p * r/n
  answer = (p * up_d/down_d) - minus
  return answer

In [16]:
P = 10000
r = 5/100
n = 36
t = 27.799195018987565
principal_repayment(10000, 5/100, 36, 27.799195018987565)

4.6129940420205315